body {
    font-family: Tahoma;
}

.nav {
    background-color: steelblue;
    overflow: hidden;
    display: flex;
}

.nav a {
    text-decoration: none;
    text-align: right;
    color: white;
    padding: 15px;
}

.nav a:hover {
    background-color: lightgrey;
    color: black;
}

.nav a.active {
    background-color: rgb(47, 92, 129);
}

p {
    width: 800px;
}

h3.project a {
    text-decoration: none;
    color: black;
}