body {
    font-family: Tahoma;
}

p {
    width: 800px;
}

ul {
    margin-top: 0px;
}

.nav {
    background-color: steelblue;
    overflow: hidden;
    display: flex;
}

.nav a {
    text-decoration: none;
    color: white;
    padding: 15px;
}

.nav a:hover {
    background-color: lightgrey;
    color: black;
}

.nav a.active {
    background-color: rgb(47, 92, 129);
}

h3.project a {
    text-decoration: none;
    color: black;
}

.footer {
    background-color: steelblue;
    color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 5px;
    margin-top: 30px;
}

.footer a {
    color: white;
    text-decoration: None;
    font-size: 14px;
}

.footer a:hover {
    color: lightgrey;
}

.footer p {
    margin: 0px;
}